<!DOCTYPE html>
<html>

<head>
  <title>Enter in some variables</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <style>
    body {
      background-color: aliceblue;
    }
  </style>

</head>

<body>
  <div class="container">
  <p>@Model.MadLib
    <!-- <p>Today I went to the zoo. I saw a @Model.Adjective1 @Model.Noun1 jumping up and down in its tree.
      He @Model.VerbPastTense1 @Model.Adverb1
      through the large tunnel that led to its @Model.Adjective2
      @Model.Noun2. I got some peanuts and passed
      them through the cage to a gigantic gray @Model.Noun3
      towering above my head. Feeding that animal made
      me hungry. I went to get a @Model.Adjective3 scoop
      of ice cream. It filled my stomach. Afterwards I had to
      @Model.Verb @Model.Adverb2 to catch our bus.
      When I got home I @Model.VerbPastTense2 my
      mom for a @Model.Adjective4 day at the zoo.</p> -->
      </p>
  </div>
</body>


</html>